<footer id="footer" class="footer">
		<!--Start Container-->
		<div class="container">
				<div class="columns">

						<!--Start about column-->
						<div class="about column">
								<h3 class="h-footer">About Us</h3>
								<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consequuntur omnis officiis unde rem blanditiis ipsa, veniam doloremque? Necessitatibus eveniet ad dolorem doloribus quisquam modi nostrum labore voluptate rem ipsam!</p>
								<span class="social"><i class="fab fa-facebook-f"></i></span>
								<span class="social"><i class="fab fa-google-plus-g"></i></span>
								<span class="social"><i class="fab fa-twitter"></i></span>
						</div>
						<!--End about column-->

						<!--Start tags column-->
						<div class="tags column">
								<h3 class="h-footer">Tags</h3>
								<div class="the-tags">
										<span class="tag">France</span>
										<span class="tag">Italy</span>
										<span class="tag">Spain</span>
										<span class="tag">Argantina</span>
										<span class="tag">Russia</span>
								</div>
						</div>
						<!--End tags column-->

						<!--Start recent column-->
						<div class="recent column">
								<h3 class="h-footer">Recent Travels</h3>

								<div class="post">
										<div class="img">
												<img src="images/footer/paris.jpg">
										</div>
										<div class="info">
												<h4>Travel to Paris</4>
												<span>24/7/2020</span>
										</div>
								</div>

								<div class="post">
										<div class="img">
												<img src="images/footer/canada.jpg">
										</div>
										<div class="info">
												<h4>Travel to Canada</h4>
												<span>13/8/2020</span>
										</div>
								</div>

								<div class="post">
										<div class="img">
												<img src="images/footer/egypt.jpg">
										</div>
										<div class="info">
												<h4>Travel to Cairo</h4>
												<span>14/7/2020</span>
										</div>
								</div>
						</div>
						<!--End recent column-->

						<!--Start categories column-->
						<div class="categories column">
								<h3 class="h-footer">Categories</h3>
								<h4>Upcoming Trips</h4>
								<h4>Crews</h4>
								<h4>Sponsors</h4>
								<h4>Upcoming Co-operations</h4>
						</div>
				</div>
				<!--End categories column-->

				<!--Start Copyrights-->
				<div class="copyrights">
						<p>All Copyrights are reserved &copy; Maly Air 2020</p>
						<span>Created by: <span class="owner">_HaWaRy_</span></span>
				</div>
				<!--End Copyrights-->
		</div>
		<!--End Container-->
</footer>