{% extends 'layout/base.html' %}

{% block title %} Trang chủ {% endblock %}

{% block content %}
<!-- Slider -->
<div class="slider">
	<div class="slider-content">
		<div class="slider--item">
			<div class="desc">
				<h1>Hà Nội</h1>
				<span>Thủ đô của Việt Nam</span>
			</div>
		</div>
		<div class="slider--item">
			<div class="desc">
				<h1>Đà Nẵng</h1>
				<span>Thành phố Đà Nẵng</span>
			</div>
		</div>
		<div class="slider--item">
			<div class="desc">
				<h1>Thành phố Hồ Chí Minh</h1>
				<span>Thành phố năng động</span>
			</div>
		</div>
	</div>
</div>
<button type="button" class="btn book" data-bs-toggle="modal" data-bs-target="#myModal">Book a tickets</button>
<!-- End slider -->

<!--Book Ticket Modal-->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
	<div class="modal-content">

	  <!-- Modal Header -->
	  <div class="modal-header">
		  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		<h4 class="modal-title">Đặt vé <i class="fa-solid fa-ticket"></i> </h4>


	  </div>

	  <!-- Modal body -->
	  <div class="modal-body">
		<div class="nav nav-pills modal-header-btn" role="tablist">
			<li class="nav-item">
	  			<a class="nav-link one-way active" data-bs-toggle="pill" href="#one-way">Khứ hồi</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link round-trip" data-bs-toggle="pill" href="#menu1">Một chiều</a>
			</li>
		</div>
		<div class="tab-content">
			<div id="one-way" class="container tab-pane active"><br>
			  <form class="form-one-way">
				  <div class="form-group">
					<label for="formGroupExampleInput">Điểm đi</label>
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Điểm đi">
				  </div>
				  <div class="form-group">
					<label for="formGroupExampleInput2">Điểm đến</label>
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Điểm đến">
				  </div>
			  </form>
			</div>
			<div id="menu1" class="container tab-pane fade"><br>
			  <h3>Menu 1</h3>
			  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
	  	</div>
	  </div>
	  <!-- Modal footer -->
	  <div class="modal-footer">
		<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>

<!-- Services -->
<section class="services py-5" id="services">
	<!--Start Container-->
	<div class="container">
		<h3 class="service-title">Our Services</h3>

		<!--start the services boxes-->
		<div class="the-services-boxes">
			<div class="row">
				<div class="service col-xl">
					<span
						><i class="fas fa-ticket-alt fa-2x"></i
					></span>
					<div>
						<h4>
							Book your ticket in the fastest way
							possible
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
				<div class="service col-xl">
					<span
						><i class="fas fa-fighter-jet fa-2x"></i
					></span>
					<div>
						<h4>
							Travel through more than 300 countries
							around the world
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
				<div class="service col-xl">
					<span
						><i class="fas fa-plane-slash fa-2x"></i
					></span>
					<div>
						<h4>
							Flexibility to cancel the flight at any
							time
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="service col-xl">
					<span
						><i class="far fa-money-bill-alt fa-2x"></i
					></span>
					<div>
						<h4>
							The cheapest airline ticket for you in
							the world
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
				<div class="service col-xl">
					<span
						><i class="fas fa-envelope-square fa-2x"></i
					></span>
					<div>
						<h4>
							The fastest way to communicate with the
							customer once he has booked his ticket
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
				<div class="service col-xl">
					<span
						><i class="fas fa-user-friends fa-2x"></i
					></span>
					<div>
						<h4>
							Professional crew at the highest level
							will provide a comfortable trip for you
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--End the services boxes-->
	</div>
	<!--End Container-->
</section>
<!-- End services -->
{% endblock%}

