{% extends 'layout/base.html' %}

{% block title %} Trang chủ {% endblock %}

{% block content %}
<!-- Slider -->
<div class="slider">
	<div class="slider-content">
		<div class="slider--item">
			<div class="desc">
				<h1>Hà Nội</h1>
				<span>Thủ đô của Việt Nam</span>
			</div>
		</div>
		<div class="slider--item">
			<div class="desc">
				<h1>Đà Nẵng</h1>
				<span>Thành phố Đà Nẵng</span>
			</div>
		</div>
		<div class="slider--item">
			<div class="desc">
				<h1>Thành phố Hồ Chí Minh</h1>
				<span>Thành phố năng động</span>
			</div>
		</div>
	</div>
</div>
<button class="book">Book a tickets</button>
<!-- End slider -->
<!-- Services -->
<section class="services py-5" id="services">
	<!--Start Container-->
	<div class="container">
		<h3 class="service-title">Our Services</h3>

		<!--start the services boxes-->
		<div class="the-services-boxes">
			<div class="row">
				<div class="service col-xl">
					<span
						><i class="fas fa-ticket-alt fa-2x"></i
					></span>
					<div>
						<h4>
							Book your ticket in the fastest way
							possible
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
				<div class="service col-xl">
					<span
						><i class="fas fa-fighter-jet fa-2x"></i
					></span>
					<div>
						<h4>
							Travel through more than 300 countries
							around the world
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
				<div class="service col-xl">
					<span
						><i class="fas fa-plane-slash fa-2x"></i
					></span>
					<div>
						<h4>
							Flexibility to cancel the flight at any
							time
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="service col-xl">
					<span
						><i class="far fa-money-bill-alt fa-2x"></i
					></span>
					<div>
						<h4>
							The cheapest airline ticket for you in
							the world
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
				<div class="service col-xl">
					<span
						><i class="fas fa-envelope-square fa-2x"></i
					></span>
					<div>
						<h4>
							The fastest way to communicate with the
							customer once he has booked his ticket
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
				<div class="service col-xl">
					<span
						><i class="fas fa-user-friends fa-2x"></i
					></span>
					<div>
						<h4>
							Professional crew at the highest level
							will provide a comfortable trip for you
						</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Eos soluta, nisi
							temporibus perferendis ullam officia
							aspernatur?
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--End the services boxes-->
	</div>
	<!--End Container-->
</section>
<!-- End services -->
{% endblock%}

